{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>entraînement</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <header class="page-header">
        <h1><a href="{% url 'character_list' %}">Attribution des activités</a></h1>
    </header>

    <nav class="top-menu">
        <a href="{% url 'character_list' %}">Liste des personnes</a>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer">
        <p> </p>
    </footer>
</body>
</html>
