{% extends 'playground/base.html' %}

{% block content %}
<h2>participants</h2>

<div class="character-grid">
    {% for character in characters %}
    <div class="character-item">
        <img src="{{ character.lieu.photo.url }}" alt="{{ character.lieu.nom }}" class="character-image">
        <p><strong>nom:</strong> {{ character.id_character }}</p>
        <p><strong>état:</strong> {{ character.etat }}</p>
        <p><strong>activité:</strong> {{ character.lieu }}</p>
        <a href="{% url 'character_detail' id_character=character.id_character %}" class="btn-default">Details</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
