body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.page-header, .page-footer {
    text-align: center;
    padding: 20px;
    color: #ffffff;
}

.page-header {
    background-color: #FF6347;
}

.page-footer {
    background-color: #4682B4;
}

h1 a, h2 a {
    color: #ffffff;
    font-size: 40pt;
    text-decoration: none;
}

.top-menu {
    background-color: #c9e7e9;
    color: #ffffff;
    font-size: 30pt;
    padding: 10px;
    text-align: center;
}

main {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.character-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.character-item {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.character-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Boutons */
.btn-default {
    color: #ffffff;
    background-color: #FF6347;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
}

.btn-default:hover {
    background-color: #FF4500;
}

.character-details p {
    margin: 10px 0;
}
